/* ==============-The css for the boby or common elements ========================*/

/* body */
body {
    margin: 0;
    padding: 0;
    color:  #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
