header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

header .hbnb_logo {
    width: 140px;
    height: 100%;
    background-image: url('../images/hbnb_logo.png');
    background-repeat: no-repeat;
    background-position: left;
    align-self: flex-start;
    justify-self: center;
}
