/* ==============-The css for the header elements ========================*/

/* header */
header {
    background-color: white;
    height: 70px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    align-items: center;
    line-height: 70px;
}

/* header logo */
header .hbnb_logo {
    width: 140px;
    height: 100%;
    background-image: url('../images/hbnb_logo.png');
    background-repeat: no-repeat;
    background-position: left;
    justify-self: center;
}
